


    .input{
        padding-left: 40px;
        padding-right: 40px;
        color: white;
    }

.botonregistro{
width: 400px;
padding-left: 20px;
}
ion-content{

    --ion-background-color:#000000;
}
.LOGO{
    padding-left: 90px;
    color: white;
}
.descuento{
    color: red;
    --background-color:orange;
}
ion-item{

    border-color: red;
    }