<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item class="LOGO">
   <h1>WALL MARKET</h1>
 </ion-item>
<ion-item class="descuento">
  <ion-icon name="pricetag-outline"></ion-icon> 15% OFF EN TU PRIMER PEDIDO
</ion-item>

  <ion-item class="input">
    <ion-label position="floating" >EMAIL</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating">USUARIO</ion-label>
    <ion-input></ion-input>
  </ion-item >
  <ion-item class="input">
    <ion-label position="floating">CONTRASEÑA</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating">CONFIRMAR CONTRASEÑA</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-button class='botonregistro' color='dark'>REGISTRARME!</ion-button>
 
  
   
</ion-content>
