<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item class="LOGO">
   <h1>WALL MARKET</h1>
 </ion-item>
<ion-item class="descuento">
  <ion-icon name="pricetag-outline"></ion-icon> 15% OFF EN TU PRIMER PEDIDO
</ion-item>


<ion-card class="bg-class">
  <ion-card-content>
    <form #articuloForm="ngForm" (ngSubmit)="addUsuario(articuloForm)">
      <input  class="input" type="text" name="Usuario" #name="ngModel" [(ngModel)]="usuariosService.selectedUsuario.Usuario" 
      placeholder="Usuario">
      <input class="input" type="password" name="Contrasena" #name="ngModel" [(ngModel)]="usuariosService.selectedUsuario.Contrasena" 
      placeholder="Contraseña">
      <div class="card-action">
        <button color="success" class="botonregistro">REGISTRARME </button>
      </div>
      
    </form>
  </ion-card-content>
</ion-card>


 
  
   
</ion-content>
