



.botonregistro{
width: 300px;

}

.LOGO{
    padding-left: 70px;
    color: rgb(0, 0, 0);
}
.descuento{
    color: red;
    --background-color:orange;
}
ion-item{

    border-color: red;
    }
    .input{
        width: 300px;
        height: 30px;
    }
