<ion-header>
  
</ion-header>

<ion-content class="bg-class">
  <div id="circle"></div>
  <div id="circle2"></div>
  <ion-card class="bg-class"> 
    <ion-card-content >
      <br>
      <br>
      <ion-text color="dark">
        <h1>BIENVENIDO!</h1>
      </ion-text>
      <br>
      <form #articuloForm="ngForm" (ngSubmit)="login(articuloForm)">
        <input class="input" type="text" name="Usuario" #name="ngModel" [(ngModel)]="userService.selectedUsuario.Usuario" 
        placeholder="Usuario">
        <br>
        <br>
        <input class="input" type="password" name="Contrasena" #name="ngModel" [(ngModel)]="userService.selectedUsuario.Contrasena" 
        placeholder="Contraseña">
        <br>
        <br>
        <br>
        <div class="card-action">
          <button color="success" class="botonregistro">INICIAR SESION!</button>
        </div>
        <br>
        <ion-button color="success" class="botonregistro" (click)="userService.SignIn()">REGISTRARME</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  

 
</ion-content>
