<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/non_2x/user-profile-icon-free-vector.jpg" class="imgIcon">
<ion-card>
 <ion-card-content>
 Bienvenido!!!! User1
 <br>
 <br>
 <br>
 Nombre: "NOMBRE DE USUARIO"
 <br>
 <br>
 <br>
Direccion:"Direccion Usuario"
<br>
<br>
<br>



</ion-card-content>
</ion-card>
</ion-content>
