<ion-header [translucent]="true">
  <ion-toolbar>
    <H1>WALLMARKET</H1>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="userService.carrito()">
      <ion-icon name="cart"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let Articulos of articuloService.articulos">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title> <h1>{{Articulos.Nombre}}</h1></ion-card-title>
        <img [src]=" Articulos.Imagen" >
      </ion-card-header>
      {{Articulos.Tipo}}
      <ion-card-content>
        {{Articulos.Descripcion}} 
      </ion-card-content>
      <h1> ${{Articulos.Precio}}.00</h1>
      <ion-button color='success' (click)="agregarAlCarrito(Articulos)">agregar</ion-button>
      <ion-button *ngIf="userService.tipoUsuario=='Admin'" color='warning' (click)="deleteArticulos(Articulos._id)">eliminar</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
