ion-toolbar{

    padding-left: 80px;
}
#cart{
    --ion-background-color: #ffffff;
}

ion-card{
    flex-direction: column;
   
    margin: 0 !important;
    position: static;
  }

  
    ion-card {
        display: inline-block;
        width: 100%;
        margin: 10px auto  ;
       
    }